.module {
  height: 100%; }
  .module.module-image {
    display: flex;
    height: 100%;
    justify-content: center; }
    .module.module-image img {
      width: 100%;
      align-self: center; }
    .module.module-image.image-align-center img {
      align-self: center; }
    .module.module-image.image-align-top img {
      align-self: flex-start; }
    .module.module-image.image-align-bottom img {
      align-self: flex-end; }
  .module.module-contact-form .form-group.required .custom-checkbox:after {
    content: "*"; }
  .module.module-contact-form .form-group.required label:not(.custom-control-label):after {
    content: " *"; }
  .module.module-contact-form .captchaContainer {
    width: 304px;
    border-radius: 4px;
    margin-bottom: 1em; }
    .module.module-contact-form .captchaContainer.is-invalid {
      border: 1px solid red; }
  .module.module-text {
    display: flex;
    justify-content: center; }
    .module.module-text a.btn {
      margin-top: 5px;
      margin-bottom: 5px; }
    .module.module-text .vertical-align, .module.module-text .ql-editor {
      width: 100%;
      align-self: center;
      height: auto; }
    .module.module-text.text-align-center .vertical-align, .module.module-text.text-align-center .ql-editor {
      align-self: center; }
    .module.module-text.text-align-top .vertical-align, .module.module-text.text-align-top .ql-editor {
      align-self: flex-start; }
    .module.module-text.text-align-bottom .vertical-align, .module.module-text.text-align-bottom .ql-editor {
      align-self: flex-end; }
  .module.module-slideshow .carousel {
    background: #2d2d2d; }
    .module.module-slideshow .carousel .carousel-inner .carousel-item-next, .module.module-slideshow .carousel .carousel-inner .carousel-item-prev, .module.module-slideshow .carousel .carousel-inner .carousel-item.active {
      display: flex; }
    .module.module-slideshow .carousel .carousel-inner .carousel-item {
      height: 100%;
      flex-direction: column; }
      .module.module-slideshow .carousel .carousel-inner .carousel-item .carousel-image-container {
        height: 100%;
        align-self: center;
        display: flex;
        flex-direction: row; }
        .module.module-slideshow .carousel .carousel-inner .carousel-item .carousel-image-container img {
          align-self: center;
          max-height: 100%;
          max-width: 100%; }

.block {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  .block.padding-vertical-0 {
    padding-top: 0;
    padding-bottom: 0; }
  .block.padding-vertical-1 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .block.padding-vertical-2 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .block.padding-vertical-3 {
    padding-top: 100px;
    padding-bottom: 100px; }
  .block.background-image {
    color: white;
    text-shadow: 0 0 2px #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/backend/icons/image_placeholder.png"); }
    .block.background-image h1, .block.background-image h2, .block.background-image h3, .block.background-image h4, .block.background-image h5, .block.background-image h6 {
      text-shadow: 0 0 5px #000000; }
  .block.background-jumbotron {
    background-color: #e9ecef;
    color: #212529; }
    .block.background-jumbotron.jumbotron-2 {
      color: white;
      background-color: #6c757d; }
    .block.background-jumbotron.jumbotron-3 {
      color: white;
      background-color: #dc3545; }
  .block.vertical-size-page {
    min-height: calc(100vh - 56px); }
  .block .particle-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2; }
  .block.vertical-align-bottom {
    display: flex; }
    .block.vertical-align-bottom .container, .block.vertical-align-bottom .container-fluid {
      align-self: flex-end; }
  .block.vertical-align-center {
    display: flex; }
    .block.vertical-align-center .container, .block.vertical-align-center .container-fluid {
      align-self: center; }

.block {
  word-wrap: break-word; }
  .block.background-fade::before {
    content: " ";
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white, white);
    /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white, white);
    /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white, white);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), white, white);
    /* Standard syntax; must be last */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }

.page-content-container {
  min-height: calc(100vh - 156px); }

.btn.btn-edit-page {
  position: fixed;
  left: 0;
  top: 50%;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -20px;
  z-index: 10000;
  line-height: 24px;
  font-size: 16px;
  transform: rotate(-90deg);
  background-color: rgba(0, 123, 255, 0.42);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

.modal.modal-loading {
  z-index: 3000; }

.modal {
  padding-right: 0 !important; }

.navbar .navbar-brand {
  max-width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis; }

.text-editor {
  width: 100%; }

.table-container {
  display: block;
  width: 100%; }

table.table {
  margin-top: 12px; }
  table.table th p:last-child, table.table td p:last-child {
    margin-bottom: 0; }
  table.table th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }

.ql-editor :first-child, .text-editor :first-child {
  padding-top: 0; }
.ql-editor p, .text-editor p {
  padding-top: 12px;
  margin-bottom: 0; }
.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6, .text-editor h1, .text-editor h2, .text-editor h3, .text-editor h4, .text-editor h5, .text-editor h6 {
  padding-top: 16px;
  margin-bottom: 0; }

.page-footer-container {
  background-color: #343a40;
  min-height: 100px;
  color: #9c9c9c; }
  .page-footer-container h1, .page-footer-container h2, .page-footer-container h3, .page-footer-container h4, .page-footer-container h5, .page-footer-container h6 {
    color: #c5c5c5; }
    .page-footer-container h1 a, .page-footer-container h2 a, .page-footer-container h3 a, .page-footer-container h4 a, .page-footer-container h5 a, .page-footer-container h6 a {
      color: #c5c5c5 !important; }
  .page-footer-container a {
    color: #9c9c9c;
    text-decoration: none !important; }
    .page-footer-container a:hover {
      color: #c6c6c6; }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-xl {
    max-width: 690px; } }
@media (max-width: 768px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-xl {
    max-width: 510px; } }
@media (max-width: 576px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-xl {
    max-width: 100%; } }

.text-editor ol li.text-indent-1 {
  counter-increment: list-1; }
.text-editor ol li.text-indent-1:before {
  content: counter(list-1,lower-alpha) ". "; }
.text-editor ol li.text-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9; }
.text-editor ol li.text-indent-2 {
  counter-increment: list-2; }
.text-editor ol li.text-indent-2:before {
  content: counter(list-2,lower-roman) ". "; }
.text-editor ol li.text-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9; }
.text-editor ol li.text-indent-3 {
  counter-increment: list-3; }
.text-editor ol li.text-indent-3:before {
  content: counter(list-3,decimal) ". "; }
.text-editor ol li.text-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9; }
.text-editor ol li.text-indent-4 {
  counter-increment: list-4; }
.text-editor ol li.text-indent-4:before {
  content: counter(list-4,lower-alpha) ". "; }
.text-editor ol li.text-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9; }
.text-editor ol li.text-indent-5 {
  counter-increment: list-5; }
.text-editor ol li.text-indent-5:before {
  content: counter(list-5,lower-roman) ". "; }
.text-editor ol li.text-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9; }
.text-editor ol li.text-indent-6 {
  counter-increment: list-6; }
.text-editor ol li.text-indent-6:before {
  content: counter(list-6,decimal) ". "; }
.text-editor ol li.text-indent-6 {
  counter-reset: list-7 list-8 list-9; }
.text-editor ol li.text-indent-7 {
  counter-increment: list-7; }
.text-editor ol li.text-indent-7:before {
  content: counter(list-7,lower-alpha) ". "; }
.text-editor ol li.text-indent-7 {
  counter-reset: list-8 list-9; }
.text-editor ol li.text-indent-8 {
  counter-increment: list-8; }
.text-editor ol li.text-indent-8:before {
  content: counter(list-8,lower-roman) ". "; }
.text-editor ol li.text-indent-8 {
  counter-reset: list-9; }
.text-editor ol li.text-indent-9 {
  counter-increment: list-9; }
.text-editor ol li.text-indent-9:before {
  content: counter(list-9,decimal) ". "; }
.text-editor .text-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em; }
.text-editor li.text-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em; }
.text-editor .text-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em; }
.text-editor li.text-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em; }
.text-editor .text-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em; }
.text-editor li.text-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em; }
.text-editor .text-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em; }
.text-editor li.text-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em; }
.text-editor .text-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em; }
.text-editor li.text-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em; }
.text-editor .text-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em; }
.text-editor li.text-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em; }
.text-editor .text-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em; }
.text-editor li.text-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em; }
.text-editor .text-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em; }
.text-editor li.text-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em; }
.text-editor .text-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em; }
.text-editor li.text-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em; }
.text-editor .text-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em; }
.text-editor li.text-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em; }
.text-editor .text-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em; }
.text-editor li.text-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em; }
.text-editor .text-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em; }
.text-editor li.text-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em; }
.text-editor .text-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em; }
.text-editor li.text-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em; }
.text-editor .text-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em; }
.text-editor li.text-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em; }
.text-editor .text-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em; }
.text-editor li.text-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em; }
.text-editor .text-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em; }
.text-editor li.text-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em; }
.text-editor .text-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em; }
.text-editor li.text-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em; }
.text-editor .text-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em; }
.text-editor li.text-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em; }
.text-editor ol,
.text-editor ul {
  padding-left: 1.5em; }
.text-editor ol > li,
.text-editor ul > li {
  list-style-type: none; }
.text-editor ul > li::before {
  content: '\2022'; }
.text-editor ul[data-checked=true],
.text-editor ul[data-checked=false] {
  pointer-events: none; }
.text-editor ul[data-checked=true] > li *,
.text-editor ul[data-checked=false] > li * {
  pointer-events: all; }
.text-editor ul[data-checked=true] > li::before,
.text-editor ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all; }
.text-editor ul[data-checked=true] > li::before {
  content: '\2611'; }
.text-editor ul[data-checked=false] > li::before {
  content: '\2610'; }
.text-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em; }
.text-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right; }
.text-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em; }
.text-editor ol li:not(.ql-direction-rtl),
.text-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em; }
.text-editor ol li.ql-direction-rtl,
.text-editor ul li.ql-direction-rtl {
  padding-right: 1.5em; }
.text-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0; }
.text-editor ol li:before {
  content: counter(list-0,decimal) ". "; }

.consent.hidden .accept-view {
  display: none; }
.consent.hidden .edit-button {
  display: block;
  opacity: 1; }
  .consent.hidden .edit-button button.btn {
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46); }
.consent .accept-view {
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0; }
  .consent .accept-view button {
    margin-right: 10px; }
.consent .edit-button {
  opacity: 0;
  position: fixed;
  left: 20px;
  bottom: 20px; }
  .consent .edit-button button.btn {
    position: relative;
    width: 64px;
    height: 64px;
    background-color: white;
    color: black;
    border-radius: 32px !important;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46); }
    .consent .edit-button button.btn img {
      width: 100%;
      height: 100%; }
    .consent .edit-button button.btn.activated::before {
      opacity: 1; }
    .consent .edit-button button.btn::before {
      pointer-events: none;
      -webkit-box-shadow: 0px 0px 40px 5px #0047f6;
      -moz-box-shadow: 0px 0px 40px 5px #0047f6;
      box-shadow: 0px 0px 40px 5px #0047f6;
      content: " ";
      position: fixed;
      left: 20px;
      bottom: 20px;
      border-radius: 32px;
      width: 64px;
      height: 64px;
      opacity: 0;
      transition: opacity 1s ease-in; }

.consent-placeholder {
  background-color: #6c757d;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5px; }

html {
  scroll-behavior: smooth; }

/*# sourceMappingURL=fastend.css.map */
