.module {
  height: 100%;
  &.module-image {
    display: flex;
    height: 100%;
    justify-content: center;
    img{
      width: 100%;
      align-self: center;
    }
    &.image-align-center
    {
      img{
        align-self: center;
      }
    }
    &.image-align-top
    {
      img{
        align-self: flex-start;
      }
    }
    &.image-align-bottom
    {
      img{
        align-self: flex-end;
      }
    }
  }
  &.module-contact-form {
    .form-group {
      &.required {
        .custom-checkbox:after {
          content: "*";
        }
        label:not(.custom-control-label):after {
          content: " *";
        }
      }
    }
    .captchaContainer{
      width: 304px;
      border-radius: 4px;
      margin-bottom: 1em;
      &.is-invalid{
        border: 1px solid red;
      }
    }
  }
  &.module-text {
    display: flex;
    justify-content: center;
    a.btn{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .vertical-align, .ql-editor {
      width: 100%;
      align-self: center;
      height: auto;
    }
    &.text-align-center
    {
      .vertical-align, .ql-editor{
        align-self: center;
      }
    }
    &.text-align-top
    {
      .vertical-align, .ql-editor{
        align-self: flex-start;
      }
    }
    &.text-align-bottom
    {
      .vertical-align, .ql-editor{
        align-self: flex-end;
      }
    }
  }
  &.module-slideshow {
    .carousel {
      background: #2d2d2d;
      .carousel-inner {
        .carousel-item-next, .carousel-item-prev, .carousel-item.active{
          display: flex;
        }
        .carousel-item {
          height: 100%;
          flex-direction: column;
          .carousel-image-container {
            height: 100%;
            align-self: center;
            display: flex;
            flex-direction: row;
            img {
              align-self: center;
              max-height: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
.block {
  padding-top: 50px;
  padding-bottom: 50px;
  &.padding-vertical-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  &.padding-vertical-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &.padding-vertical-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &.padding-vertical-3 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &.background-image {
    color: white;
    text-shadow: 0 0 2px #000000;
    h1, h2, h3, h4, h5 ,h6 {
      text-shadow: 0 0 5px #000000;
    }
    //height: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/backend/icons/image_placeholder.png");
  }
  &.background-jumbotron {
    background-color: #e9ecef;
    color: #212529;
    &.jumbotron-2 {
      color: white;
      background-color: #6c757d;
    }
    &.jumbotron-3 {
      color: white;
      background-color: #dc3545;
    }
  }
  &.vertical-size-page {
    min-height: calc(100vh - 56px);
  }
  &.vertical-size-content {

  }
  position: relative;
  .particle-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  &.vertical-align-bottom {
    display: flex;
    .container, .container-fluid {
      align-self: flex-end;
    }
  }
  &.vertical-align-center {
    display: flex;
    .container, .container-fluid {
      align-self: center;
    }
  }
}

.block{
  word-wrap: break-word;
  &.background-fade {
    &::before {
      content: " ";
      position: absolute;

      background-color: rgba(255,255,255,0); /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
      background-image:    -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)); /* For Firefox (3.6 to 15) */
      background-image:      -o-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)); /* For old Opera (11.1 to 12.0) */
      background-image:         linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1)); /* Standard syntax; must be last */

      width: 100%;
      height: 100%;
      top:0;
      left:0;
      z-index: -1;
    }
  }
}

.page-content-container {
  min-height: calc(100vh - 156px);
}

.btn.btn-edit-page {
  position: fixed;
  left: 0;
  top: 50%;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -20px;
  z-index: 10000;
  line-height: 24px;
  font-size: 16px;
  transform: rotate(-90deg);
  background-color: rgba(0, 123, 255, 0.42);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.modal.modal-loading {
  z-index: 3000;
}
.modal{
  padding-right: 0!important;
}

.navbar{
  .navbar-brand {
    max-width: calc(100% - 80px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.text-editor {
  width: 100%;
}

.table-container {
  display: block;
  width: 100%;
}

table.table{
  margin-top: 12px;
  th,td{
    p:last-child { margin-bottom: 0 }
  }
  th{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
}

.ql-editor, .text-editor {
  :first-child {
    padding-top: 0;
  }

  p {
     padding-top: 12px;
     margin-bottom: 0;
   }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 16px;
    margin-bottom: 0;
  }
}

.page-footer-container {
  background-color: #343a40;
  min-height: 100px;
  color: #9c9c9c;
  h1,h2,h3,h4,h5,h6 {
    color: #c5c5c5;
    a {
      color: #c5c5c5 !important;
    }
  }
  a {
    color: #9c9c9c;
    text-decoration: none !important;
    &:hover {
      color: #c6c6c6;
    }
  }
}
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {

    @media (max-width: 991.98px){
      max-width: 690px;
    }
    @media (max-width: 768px) {
      max-width: 510px;
    }
  @media (max-width: 576px) {
    max-width: 100%;
  }
}
.text-editor {
  ol li.text-indent-1 {
    counter-increment: list-1;
  }
  ol li.text-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
  }
  ol li.text-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  ol li.text-indent-2 {
    counter-increment: list-2;
  }
  ol li.text-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
  }
  ol li.text-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }
  ol li.text-indent-3 {
    counter-increment: list-3;
  }
  ol li.text-indent-3:before {
    content: counter(list-3, decimal) '. ';
  }
  ol li.text-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
  }
  ol li.text-indent-4 {
    counter-increment: list-4;
  }
  ol li.text-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
  }
  ol li.text-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
  }
  ol li.text-indent-5 {
    counter-increment: list-5;
  }
  ol li.text-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
  }
  ol li.text-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
  }
  ol li.text-indent-6 {
    counter-increment: list-6;
  }
  ol li.text-indent-6:before {
    content: counter(list-6, decimal) '. ';
  }
  ol li.text-indent-6 {
    counter-reset: list-7 list-8 list-9;
  }
  ol li.text-indent-7 {
    counter-increment: list-7;
  }
  ol li.text-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
  }
  ol li.text-indent-7 {
    counter-reset: list-8 list-9;
  }
  ol li.text-indent-8 {
    counter-increment: list-8;
  }
  ol li.text-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
  }
  ol li.text-indent-8 {
    counter-reset: list-9;
  }
  ol li.text-indent-9 {
    counter-increment: list-9;
  }
  ol li.text-indent-9:before {
    content: counter(list-9, decimal) '. ';
  }
  .text-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
  }
  li.text-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em;
  }
  .text-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
  }
  li.text-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
  }
  .text-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em;
  }
  li.text-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em;
  }
  .text-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
  }
  li.text-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
  }
  .text-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em;
  }
  li.text-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em;
  }
  .text-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
  }
  li.text-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
  }
  .text-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em;
  }
  li.text-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em;
  }
  .text-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
  }
  li.text-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
  }
  .text-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em;
  }
  li.text-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em;
  }
  .text-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }
  li.text-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
  }
  .text-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em;
  }
  li.text-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em;
  }
  .text-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }
  li.text-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
  }
  .text-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em;
  }
  li.text-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em;
  }
  .text-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
  }
  li.text-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
  }
  .text-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em;
  }
  li.text-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em;
  }
  .text-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
  }
  li.text-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
  }
  .text-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em;
  }
  li.text-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em;
  }
  .text-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
  }
  li.text-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
  }

   ol,
   ul {
    padding-left: 1.5em;
  }
   ol > li,
   ul > li {
    list-style-type: none;
  }
   ul > li::before {
    content: '\2022';
  }
   ul[data-checked=true],
   ul[data-checked=false] {
    pointer-events: none;
  }
   ul[data-checked=true] > li *,
   ul[data-checked=false] > li * {
    pointer-events: all;
  }
   ul[data-checked=true] > li::before,
   ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
  }
   ul[data-checked=true] > li::before {
    content: '\2611';
  }
   ul[data-checked=false] > li::before {
    content: '\2610';
  }
   li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
  }
   li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
  }
   li.ql-direction-rtl::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
  }
   ol li:not(.ql-direction-rtl),
   ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
  }
   ol li.ql-direction-rtl,
   ul li.ql-direction-rtl {
    padding-right: 1.5em;
  }
   ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
  }
   ol li:before {
    content: counter(list-0, decimal) '. ';
  }
}

.consent {
  &.hidden {
    .accept-view {
      display: none;
    }
    .edit-button {
      display: block;
      opacity: 1;
      button.btn {
        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
      }
    }
  }

  .accept-view {

    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    button {
      margin-right: 10px;
    }
  }

  .edit-button {
    opacity: 0;
    position: fixed;
    left:20px;
    bottom: 20px;
    button.btn {
      position: relative;
      width: 64px;
      height: 64px;
      background-color: white;
      color: black;
      border-radius: 32px !important;
      img {
        width: 100%;
        height: 100%;
      }
      -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
      box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
      &.activated::before {
          opacity: 1;
      }
      &::before {
        pointer-events: none;
        -webkit-box-shadow: 0px 0px 40px 5px rgba(0, 71, 246, 1);
        -moz-box-shadow: 0px 0px 40px 5px rgba(0, 71, 246, 1);
        box-shadow: 0px 0px 40px 5px rgba(0, 71, 246, 1);
        content: " ";
        position: fixed;
        left: 20px;
        bottom: 20px;
        border-radius: 32px;
        width: 64px;
        height: 64px;
        opacity: 0;
        transition: opacity 1s ease-in;
      }
    }
  }
}

.consent-placeholder {
  background-color: #6c757d;
  width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}