body {
  //font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1022; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
  min-height: 100vh; padding-bottom: 20px;
  overflow: hidden;
}
/*
 * Navbar
 */

.navbar-dashboard .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  @media (min-width: 768px) {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
}

.navbar-dashboard.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.media-library{
  .location-item{
    margin: 15px 0;
    text-align: center;
    border-radius: 3.2px;
    padding: 15px;
    background-color: #e5e5e5;
    cursor: pointer;
    .custom-checkbox{
      position: absolute;
      left:20px;
      top:20px;
      .custom-control-label::before{
        width: 20px;
        height: 20px;
      }
      .custom-control-label::after{

        width: 20px;
        height: 20px;
      }
    }
    &:hover {
      background-color: #c9c9c9;
    }
    .icon{
      .image{
        width: 100%;
        height: 50px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      i{
        height:50px;
        font-size: 50px;
      }
    }
    .name{
      width: 100%;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
}

.bulk-edit-container{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  &.hidden{
    display: none;
  }
}

.progress{
  position: relative;
  .progress-title{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    text-align: center;
    z-index: 100;
    padding: 4px;
    font-size: 14px;
  }
}

.modal-backdrop {
  visibility: hidden !important;
}
.modal {
  background-color: rgba(0,0,0,0.5);
}