.navbar {
  li {
    a {
      position: relative;
      .edit-container {
        pointer-events: none;
        position: absolute;
        right: -50px;
        top:-20px;
        padding: 3px;
        border-radius: 18px;
        background-color: white;
        transition: 0.2s;
        opacity: 0;
        width:auto;
        z-index: 10000;
        -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
        button {
          padding: 1px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
      &:hover {
        .edit-container {
          pointer-events: all;
          display: block;
          transition: 0.2s;
          opacity: 1;
        }
      }
    }
  }
}

.sortable {
  list-style-type: none;
  margin-bottom: 0;

  ol {
    list-style-type: none;
    margin-bottom: 0;
  }

  li {
    cursor: move;
    padding: 5px 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    margin: 5px 0;
  }
}

ol.sortable {
  padding: 0;
}

.placeholder {
  border: 1px #bad0d4 dashed;
  height: 41px;
}

.mjs-nestedSortable-error {
  border: 1px #d41e00 dashed;
  background-color: #ffdede;
}