@mixin create-12-off($preCol, $preOrder) {
  @for $i from 1 through 12 {
    .#{$preCol}-#{$i} {
      flex: auto;
      max-width: none;
    }
    .#{$preOrder}-#{$i} {
      order: inherit;
    }
  }
}

@mixin create-12-on($preCol, $preOrder) {
  $count: 12;
  @for $i from 1 through 12 {
    .#{$preCol}-#{$i} {
      flex: 0 0 #{percentage($i/$count)} !important;
      max-width: #{percentage($i/$count)} !important;
    }
    .#{$preOrder}-#{$i} {
      order: $i !important;
    }
  }
}

@mixin create-navbar-off($element) {
  .#{$element} {
    -ms-flex-flow: wrap !important;
    flex-flow: initial !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;

    .navbar-toggler {
      display: block !important;
    }

    .navbar-collapse {
      display: none !important;
      -ms-flex-preferred-size: 100% !important;
      flex-basis: 100% !important;
    }

    .navbar-nav {
      -ms-flex-direction: column;
      flex-direction: column;

      .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@mixin create-navbar-on($element) {
  .#{$element} {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;

    .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;

      .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }

    .navbar-toggler {
      display: none !important;
    }

    .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto !important;
      flex-basis: auto !important;
    }
  }
}

.page-edit-container {
  margin: 20px 0;
  background-color: white;
  text-align: left;
  display: inline-block;
  //max-width: 100%;
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);

  .display {
    background-color: #9ba9b5;
  }


  .block.vertical-size-page {
    min-height: calc(75vh - 56px);
  }

  /* Custom column breakpoints to allow resizing of the preview window without scaling the main page */
  &.size-0 {
    @include create-12-on(col, order);
    @include create-12-off(col-sm, order-sm);
    @include create-12-off(col-md, order-md);
    @include create-12-off(col-lg, order-lg);
    @include create-12-off(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-off(navbar-expand-sm);
    @include create-navbar-off(navbar-expand-md);
    @include create-navbar-off(navbar-expand-lg);
    @include create-navbar-off(navbar-expand-xl);

    .block.vertical-size-page {
      min-height: calc(450px);
    }

    .container {
      max-width: 100% !important;
    }
  }

  &.size-1 {
    @include create-12-on(col, order);
    @include create-12-on(col-sm, order-sm);
    @include create-12-off(col-md, order-md);
    @include create-12-off(col-lg, order-lg);
    @include create-12-off(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-on(navbar-expand-sm);
    @include create-navbar-off(navbar-expand-md);
    @include create-navbar-off(navbar-expand-lg);
    @include create-navbar-off(navbar-expand-xl);

    .block.vertical-size-page {
      min-height: calc(600px);
    }

    .container {
      max-width: 100% !important;
    }
  }

  &.size-2 {
    @include create-12-on(col, order);
    @include create-12-on(col-sm, order-sm);
    @include create-12-on(col-md, order-md);
    @include create-12-off(col-lg, order-lg);
    @include create-12-off(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-on(navbar-expand-sm);
    @include create-navbar-on(navbar-expand-md);
    @include create-navbar-off(navbar-expand-lg);
    @include create-navbar-off(navbar-expand-xl);

    .container {
      max-width: 100% !important;
    }
  }

  &.size-3 {
    @include create-12-on(col, order);
    @include create-12-on(col-sm, order-sm);
    @include create-12-on(col-md, order-md);
    @include create-12-on(col-lg, order-lg);
    @include create-12-off(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-on(navbar-expand-sm);
    @include create-navbar-on(navbar-expand-md);
    @include create-navbar-on(navbar-expand-lg);
    @include create-navbar-off(navbar-expand-xl);

    .container {
      max-width: 100% !important;
    }
  }

  &.size-4 {
    @include create-12-on(col, order);
    @include create-12-on(col-sm, order-sm);
    @include create-12-on(col-md, order-md);
    @include create-12-on(col-lg, order-lg);
    @include create-12-on(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-on(navbar-expand-sm);
    @include create-navbar-on(navbar-expand-md);
    @include create-navbar-on(navbar-expand-lg);
    @include create-navbar-on(navbar-expand-xl);

    .container {
      max-width: 100% !important;
    }
  }

  &.size-5 {
    @include create-12-on(col, order);
    @include create-12-on(col-sm, order-sm);
    @include create-12-on(col-md, order-md);
    @include create-12-on(col-lg, order-lg);
    @include create-12-on(col-xl, order-xl);

    @include create-navbar-on(navbar);
    @include create-navbar-on(navbar-expand-sm);
    @include create-navbar-on(navbar-expand-md);
    @include create-navbar-on(navbar-expand-lg);
    @include create-navbar-on(navbar-expand-xl);

    .container {
      max-width: 1140px !important;
    }
  }
}

.page-edit-container-parent {
  &.full-width {
    @media (max-width: 767.98px) {
      margin: 0 -8px;
      width: calc(100% + 16px);
    }
    margin: 0 -24px;
    width: calc(100% + 48px);
    padding: 15px 0 100px;
    .page-edit-container {
      max-width: calc(100%) !important;
      width: calc(100%) !important;
    }
  }
  width: 100%;
  overflow-x: auto;
  text-align: center;
  padding: 15px 30px 100px;
  position: relative;

  .navbar {
    pointer-events: none;

    .container {
      padding-left: 0;
      padding-right: 0;
      max-width: 1110px !important;
    }

    &.fixed-top {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1020;
    }
  }

  .page-edit-container {
    position: relative;

    .page-content-container, .page-footer-container.not-fixed {
      min-height: calc(50vh - 256px);

      .ql-editor {
        a {
          &.btn {
            text-decoration: none;
            cursor: text;
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;

            &:hover {
              background-color: #007bff;
              border-color: #007bff;
            }
          }
        }
      }

      .block {
        &:hover {
          outline: 4px dashed #bf6f48;
        }

        &.selected {
          outline: 4px dashed #ff7d00;
          z-index: 2;
        }

        .row.row-editable {

          .col {
            &:not(.selected) {
              .ql-editor {
                * {
                  cursor: default !important;
                }

                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently*/
                pointer-events: none;
              }
            }

            &.selected {
              z-index: 3;
            }
          }
        }

        position: relative;
        width: 100%;

        .btn-add-block {
          border-radius: 0;
          display: none;

          &.hidden {
            display: none !important;
          }
        }

        /*&:hover{
          outline: 2px dashed rgba(255, 136, 0, 0.51);
        }*/
        .layout-button-container {
          transition: 0.3s;
          top: 0;
          position: absolute;
          right: 0;
          padding: 0;
          height: 38px;
          overflow: hidden;
          border-bottom-left-radius: 3.2px;
          width: 0;

          button.btn {
            width: 25%;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
            border-radius: 0;
          }
        }

        .col {
          &:hover {
            &:after {
              pointer-events: none;
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              z-index: 99;
              border: 2px solid #6895bf;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0
            }
          }

          &.selected {
            &:after {
              pointer-events: none;
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              z-index: 99;
              border: 2px solid #005cbf;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0
            }
          }

          //outline: 1px dotted rgba(133, 133, 133, 0);
          //transition: 0.3s;
          .edit-button-container {
            padding: 2px;
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: 0;

            button.btn {
              margin: 2px;
              padding: 1px 4px;
              font-size: 13px;
            }
          }

          .btn-add-col {
            width: 0;
            height: 0;
            //border-radius: 10px;
            text-align: center;
            position: absolute;
            opacity: 0;
            transition: 0.3s;
            top: 50%;
            padding: 0;
            font-size: 0;
            line-height: 0;

            &.btn-add-col-left {
              left: 0;
            }

            &.btn-add-col-right {
              right: 0;
            }
          }

          .module {
            .empty-display {
              min-height: 100px;
              height: calc(100% - 10px);
              text-align: center;
              font-size: 30px;
              margin: 5px -10px;
              line-height: 100px;
              color: #5a6268;
              background-color: rgba(135, 135, 135, 0.07);
              border-radius: 5px;
            }

            &.module-map {
              iframe {
                pointer-events: none;
              }
            }
            &.module-text {
              position: relative;
            }



            &.module-contact-form {
              .form-success-text, .form-error-text, .form-receiver-text, .form-sender-text, .form-mail-title-text {
                display: none;
              }

              .form-group {
                position: relative;

                label {
                  pointer-events: none;
                }

                .form-control {
                  pointer-events: none;
                }

                &:hover, &.focused {
                  .edit-controls {
                    display: block;
                  }
                }

                .edit-controls {
                  button.btn {
                    pointer-events: all;
                  }

                  display: none;
                  position: absolute;
                  top: 0;
                  right: 0;
                }
              }

              button.btn {
                pointer-events: none;
              }
            }

            button.btn.btn-setup {
              width: calc(100% + 20px);
              height: calc(100% - 10px);
              min-height: 100px;
              margin: 5px -10px;
              border: 1px dotted #4e555b;
              font-size: 24px;
              text-align: center;
              overflow: hidden;
              padding: 0;
              background-color: rgba(135, 135, 135, 0.07);
              border-radius: 5px;

              &:hover {
                background-color: rgba(135, 135, 135, 0.2);
              }

              &:disabled {
                background-color: rgba(135, 135, 135, 0.07);
                border: 0;
                cursor: unset;
                color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.main-bar-container {
  margin: 0 -24px;
  @media (max-width: 767.98px) {
    margin: 0 -8px;
  }

  &.fixed {
    margin: 0;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.46);
    position: fixed;
    top: 48px;
    z-index: 1021;
    right: 0;
    left: 16.6666667%;
    // Medium devices (tablets, less than 992px)
    @media (max-width: 991.98px) {
      left: 25%;
    }
    @media (max-width: 767.98px) {
      left: 0;
    }
  }

  text-align: center;
  background-color: #f8f9fa;

  .inner-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .btn {

      &:hover {
        background-color: #28a745;
      }
    }
  }
  .edit-bar {
    .block-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      @media (max-width: 767.98px) {
        border-right: 0;
      }
      //border: 1px solid rgb(255, 135, 92);
      .btn {
        width: 32px;
        margin: 0 4px;
        background-color: #ff7d00;
        border-color: #ff7d00;
        color: white;

        &:hover {
          background-color: #cd6400;
        }
      }
    }

    .module-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      //border: 1px solid rgb(121, 142, 210);
      .btn {
        color: white;
        width: 32px;
        margin: 0 4px;
        background-color: #005cbf;
        border-color: #005cbf;

        &:hover {
          background-color: #004794;
        }
      }
    }
  }
}

.main-bar-container-placeholder {
  width: 100%;
}

button.btn {
  touch-action: manipulation;
}

.btn-primary::selection {
    background: #8e8e8e !important; /* WebKit/Blink Browsers */
}
.btn-primary::-moz-selection {
  background: #8e8e8e !important; /* Gecko Browsers */
}

.btn-add-block {
  display: block;
  width: 100%;
  background-color: rgba(40, 167, 69, 0.58);
  border-radius: 0;
  padding: 25px;

  &:hover {
    background-color: rgba(40, 167, 69, 0.84);
  }
}

.modal .file-preview {
  background-color: rgba(199,199,199,0.51);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.slideshow-element{
  padding: 5px;
  background-color: rgba(234,234,234,1);
  .image-container{
    display: flex;
    img{
      align-self: center;
    }
  }
  .form-control {
    height: 26px;
    &:first-child{
      margin-bottom: 5px;
    }
  }
  .edit-buttons {
    position: relative;
    .btn{
      position: absolute;
      top:0;
      left: 0;
      width: 50%;
      height: 100%;
      border-radius: 0;
      padding: 0;
    }
    .up-down-container{
      position: absolute;
      top:0;
      left: 50%;
      .btn {
        position: relative;
        width: 100%;
        height: 50%;
        display: block;
      }
      width: 50%;
      height: 100%;
    }
  }
}

/*
QUILL OVERRIDES
 */
.ql-tooltip{
  z-index: 100;
}

.ql-toolbar {
  background-color: #5a6268;
  border-radius: 3.2px;
}

.ql-bubble .ql-tooltip:not(.ql-flip) .ql-tooltip-arrow {
  border-bottom-color: #5a6268;
}

.ql-table-tooltip{
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  overflow: visible;
  text-align: center;
  .arrow {
    z-index: 101;
    border-bottom: 6px solid #5a6268;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: block;
    left: 50%;
    margin-left: -6px;
    position: absolute;
  }

  .content {
    background-color: #5a6268;
    border-radius: 5px;
    position: relative;
    padding: 8px;
    display: inline-block;
    color: white;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.46);
    button.btn{
      margin: 0 3px;
      display: inline-block;
      padding: 0;
      line-height: 16px;
      color: white;
      &:hover{
        color: #d7d7d7;
        img.custom-icon{
          opacity: 70%;
        }
      }

      img.custom-icon{
        height: 24px;
        width: 24px;
        fill: white !important;
      }
      i{
        width: 24px;
      }
    }
  }
}