.page-order-edit {
  width: 100%;
  overflow-x: scroll; }
  .page-order-edit .page-order-edit-header {
    min-width: 800px;
    font-weight: bold;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 5px 10px; }
    .page-order-edit .page-order-edit-header.page-order-edit-element .page-name {
      width: 300px; }
  .page-order-edit .sortable-container {
    min-width: 800px; }
    .page-order-edit .sortable-container .sortable {
      list-style-type: none; }
      .page-order-edit .sortable-container .sortable ol {
        list-style-type: none; }
      .page-order-edit .sortable-container .sortable .content {
        cursor: move;
        margin: 2px 0;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.05);
        white-space: nowrap; }
    .page-order-edit .sortable-container ol.sortable {
      padding: 0; }
    .page-order-edit .sortable-container .placeholder {
      border: 1px #bad0d4 dashed;
      height: 41px; }
    .page-order-edit .sortable-container .mjs-nestedSortable-error {
      border: 1px #d41e00 dashed;
      background-color: #ffdede; }
  .page-order-edit .page-order-edit-element .page-name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left; }
  .page-order-edit .page-order-edit-element .page-visibility {
    text-align: left;
    width: 200px; }
  .page-order-edit .page-order-edit-element .page-url {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .page-order-edit .page-order-edit-element .page-edit {
    text-align: center;
    width: 80px; }
    .page-order-edit .page-order-edit-element .page-edit .btn {
      width: 100%; }

/*# sourceMappingURL=sortable.css.map */
