.page-order-edit {
  width: 100%;
  overflow-x: scroll;
  .page-order-edit-header{
    min-width: 800px;
    &.page-order-edit-element {
      .page-name{
        width: 300px;
      }
    }
    font-weight: bold;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 5px 10px;
  }
  .sortable-container {
    min-width: 800px;

    .sortable {
      list-style-type: none;

      ol {
        list-style-type: none;
      }

      .content {
        cursor: move;
        margin: 2px 0;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, .05);
        white-space: nowrap;
      }
    }

    ol.sortable {
      padding: 0;
    }

    .placeholder {
      border: 1px #bad0d4 dashed;
      height: 41px;
    }

    .mjs-nestedSortable-error {
      border: 1px #d41e00 dashed;
      background-color: #ffdede;
    }
  }
  .page-order-edit-element {
    .page-name{
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
    }
    .page-visibility {
      text-align: left;
      width: 200px;
    }
    .page-url {
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .page-edit {
      text-align: center;
      width: 80px;
      .btn{
        width: 100%;
      }
    }
  }
}
