$text-color: #5c5c5c;
$primary-color: #80bc00ff;
$secondary-color: #004750ff;
$secondary-color-bright: #00b3c8;

@mixin drop-shadow($distance, $opacity) {
  -webkit-box-shadow: 0px 0px $distance 0px rgba(0, 0, 0, $opacity);
  -moz-box-shadow: 0px 0px $distance 0px rgba(0, 0, 0, $opacity);
  box-shadow: 0px 0px $distance 0px rgba(0, 0, 0, $opacity);
}

$short-shadow-distance: 5px;
$far-shadow-distance: 10px;

$short-shadow-opacity: 0.2;
$far-shadow-opacity: 0.4;

.page-content-container {
  margin-top: 56px;
}

.main-page-content, .consent, #consentModal {
  .custom-control-input:checked~.custom-control-label::before {

    background-color: #80bc00ff;
    border-color: rgba(0, 71, 80, 0.54);
  }
  .custom-control-input:disabled~.custom-control-label, .custom-control-input[disabled]~.custom-control-label::before {

    background-color: #c5daad;
    border-color: #c5daad;
  }
  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(128, 188, 0, 0.22);
  }
  .navbar.navbar-sleek {
    /*backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(135, 135, 135, 0.51) !important;*/
    background-color: white;
    color: $text-color;
    @include drop-shadow(5px,0.1);
    .navbar-toggler {
      color: $text-color;
      background-color: #f0f0f0;
      &.collapsed {
        background-color: transparent;
      }
      &:active, &:focus {
        outline: 0;
      }
      //border-color: rgba(0,0,0,.1);
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }

    .navbar-nav {
      .nav-link {
        color: $text-color;
        border-radius: 10px;
        padding: 8px 12px;
        margin: 0 2px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }

        &:active, &:focus {
          color: white;
          background: $primary-color;
          background: linear-gradient(45deg, $primary-color 0%, $secondary-color 200%);
        }
      }
    }

    .navbar-brand {
      color: $text-color;
    }

    ul .dropdown-menu {
      padding: 5px;
      border: 0;
      border-radius: 10px;
      margin-top: 8px;
      @include drop-shadow($short-shadow-distance, $short-shadow-opacity);

      .dropdown-submenu{
        a::after {
          top: 1.2em;
        }
        .dropdown-menu {
          top: -13px;
          left: calc(100% + 6px);
          margin-left: 0.1rem;
          margin-right: 0.1rem;
        }
      }

      .dropdown-item {
        transition: background-color 0.3s;
        border-radius: 10px;
        padding: 10px 15px;
        color: $text-color;
        &:active, &:focus {
          background: $primary-color;
          background: linear-gradient(45deg, $primary-color 0%, $secondary-color 200%);
          color:white;
        }
      }
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $primary-color;
    }
  }

  .btn:not(.editor-element) {
    &:not(.btn-edit-page) {
      border-radius: 10px;
      border: 0;
      padding: 10px 15px;
      @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
      transition: 0.3s;

      &:hover {
        @include drop-shadow($far-shadow-distance, $far-shadow-opacity);
        transform: translateY(-5px);
      }

      &.btn-primary {
        background: $primary-color;
        background: linear-gradient(45deg, $primary-color 0%, $secondary-color 200%);
        color: white;

        &:hover {
          background-color: $primary-color;
        }
      }

      &.btn-success {
        background: $primary-color;
        background: linear-gradient(45deg, $primary-color 0%, $secondary-color 200%);
        color: white;

        &:hover {
          background-color: $primary-color;
        }
      }

      &.btn-secondary {
        background: $secondary-color;
        background: linear-gradient(45deg, $secondary-color 0%, $primary-color 200%);
        color: white;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }

  form {
    .form-group {
      .form-control {
        border-radius: 10px;
        border-color: #eeeeee;

        &:active, &:focus {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
        }
      }

      &:hover {
        .form-control {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
        }
      }
    }

    .custom-control.custom-checkbox {
      padding-left: 2.5rem;
      min-height: 2rem;

      label {
        line-height: 30px;
      }

      &:active, &:focus {
        .custom-control-label::before {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }

      &:hover {
        .custom-control-label::before {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
          border-color: #eeeeee;
        }
      }

      .custom-control-input:focus ~ {
        .custom-control-label::before {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
        }
      }

      .custom-control-input:checked ~ {
        .custom-control-label::before {
          @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
          border-color: $primary-color;
          background-color: $primary-color;
        }
      }

      .custom-control-label::before {
        top: 0;
        border-color: #eeeeee;
        width: 2rem;
        height: 2rem;
        border-radius: 10px;
        left: -2.5rem;
      }

      .custom-control-label::after {
        top: 0;
        border: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 10px;
        left: -2.5rem;
      }
    }
  }

  .captchaContainer > div > div > div {
    overflow: hidden;
    border-radius: 10px !important;
    width: 298px;
    height: 72px;
    transition: 0.3s;

    &:hover {
      @include drop-shadow($short-shadow-distance, $short-shadow-opacity);
    }

    iframe {
      margin: -2px;
    }
  }

  .alert {
    border-radius: 10px;
    border: 0;
  }
}

.page-footer-container {
  background-color: #f6f6f6;
  min-height: 100px;
  color: #a1a1a1;

  h1, h2, h3, h4, h5, h6 {
    color: #6e6e6e;
    a {
      color: #6e6e6e!important;
    }
  }

  a {
    color: #a1a1a1;
    text-decoration: none !important;

    &:hover {
      color: #6e6e6e;
    }
  }
}

.block.background-particles {
    .card {
      border: 0;
      @include drop-shadow(20px, 0.1);
    }
}
h3:not(.text-center):not(.ql-align-center)::after {
  content: " ";
  width: 200px;
  height: 2px;
  display: block;
  background: linear-gradient(to right, $primary-color, );

  background-color: $primary-color; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(left, $primary-color, $secondary-color-bright); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image:    -moz-linear-gradient(left, $primary-color, $secondary-color-bright); /* For Firefox (3.6 to 15) */
  background-image:      -o-linear-gradient(left, $primary-color, $secondary-color-bright); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(left, $primary-color, $secondary-color-bright); /* Standard syntax; must be last */

  margin: 10px 0;
}

.consent {
  .edit-button {
    button.btn {
      transform: translateY(0) !important;
      background-color: $secondary-color;
      svg {
        color: $primary-color;
      }
      &::before {
        left: 0;
        bottom: 0;
        -webkit-box-shadow: 0px 0px 40px 5px $primary-color !important;
        -moz-box-shadow: 0px 0px 40px 5px $primary-color !important;
        box-shadow: 0px 0px 40px 5px $primary-color !important;
      }
    }
  }
}