.page-content-container {
  margin-top: 56px; }

.main-page-content .navbar, .consent .navbar, #consentModal .navbar {
  /*backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  background-color: rgba(135, 135, 135, 0.51) !important;*/
  background-color: white;
  color: #5c5c5c;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }
  .main-page-content .navbar .navbar-toggler, .consent .navbar .navbar-toggler, #consentModal .navbar .navbar-toggler {
    color: #5c5c5c;
    background-color: #f0f0f0; }
    .main-page-content .navbar .navbar-toggler.collapsed, .consent .navbar .navbar-toggler.collapsed, #consentModal .navbar .navbar-toggler.collapsed {
      background-color: transparent; }
    .main-page-content .navbar .navbar-toggler:active, .main-page-content .navbar .navbar-toggler:focus, .consent .navbar .navbar-toggler:active, .consent .navbar .navbar-toggler:focus, #consentModal .navbar .navbar-toggler:active, #consentModal .navbar .navbar-toggler:focus {
      outline: 0; }
    .main-page-content .navbar .navbar-toggler .navbar-toggler-icon, .consent .navbar .navbar-toggler .navbar-toggler-icon, #consentModal .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .main-page-content .navbar .navbar-nav .nav-link, .consent .navbar .navbar-nav .nav-link, #consentModal .navbar .navbar-nav .nav-link {
    color: #5c5c5c;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 0 2px;
    transition: background-color 0.3s; }
    .main-page-content .navbar .navbar-nav .nav-link:hover, .consent .navbar .navbar-nav .nav-link:hover, #consentModal .navbar .navbar-nav .nav-link:hover {
      background-color: #f0f0f0; }
    .main-page-content .navbar .navbar-nav .nav-link:active, .main-page-content .navbar .navbar-nav .nav-link:focus, .consent .navbar .navbar-nav .nav-link:active, .consent .navbar .navbar-nav .nav-link:focus, #consentModal .navbar .navbar-nav .nav-link:active, #consentModal .navbar .navbar-nav .nav-link:focus {
      color: white;
      background-color: #ff7805; }
  .main-page-content .navbar .navbar-brand, .consent .navbar .navbar-brand, #consentModal .navbar .navbar-brand {
    color: #5c5c5c; }
  .main-page-content .navbar ul .dropdown-menu, .consent .navbar ul .dropdown-menu, #consentModal .navbar ul .dropdown-menu {
    padding: 5px;
    border: 0;
    border-radius: 10px;
    margin-top: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
    .main-page-content .navbar ul .dropdown-menu .dropdown-submenu a::after, .consent .navbar ul .dropdown-menu .dropdown-submenu a::after, #consentModal .navbar ul .dropdown-menu .dropdown-submenu a::after {
      top: 1.2em; }
    .main-page-content .navbar ul .dropdown-menu .dropdown-submenu .dropdown-menu, .consent .navbar ul .dropdown-menu .dropdown-submenu .dropdown-menu, #consentModal .navbar ul .dropdown-menu .dropdown-submenu .dropdown-menu {
      top: -13px;
      left: calc(100% + 6px);
      margin-left: 0.1rem;
      margin-right: 0.1rem; }
    .main-page-content .navbar ul .dropdown-menu .dropdown-item, .consent .navbar ul .dropdown-menu .dropdown-item, #consentModal .navbar ul .dropdown-menu .dropdown-item {
      transition: background-color 0.3s;
      border-radius: 10px;
      padding: 10px 15px;
      color: #5c5c5c; }
      .main-page-content .navbar ul .dropdown-menu .dropdown-item:active, .main-page-content .navbar ul .dropdown-menu .dropdown-item:focus, .consent .navbar ul .dropdown-menu .dropdown-item:active, .consent .navbar ul .dropdown-menu .dropdown-item:focus, #consentModal .navbar ul .dropdown-menu .dropdown-item:active, #consentModal .navbar ul .dropdown-menu .dropdown-item:focus {
        background-color: #ff7805;
        color: white; }
.main-page-content a, .consent a, #consentModal a {
  color: #ff7805; }
  .main-page-content a:hover, .consent a:hover, #consentModal a:hover {
    color: #ff7805; }
.main-page-content .btn:not(.editor-element):not(.btn-edit-page), .consent .btn:not(.editor-element):not(.btn-edit-page), #consentModal .btn:not(.editor-element):not(.btn-edit-page) {
  border-radius: 10px;
  border: 0;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s; }
  .main-page-content .btn:not(.editor-element):not(.btn-edit-page):hover, .consent .btn:not(.editor-element):not(.btn-edit-page):hover, #consentModal .btn:not(.editor-element):not(.btn-edit-page):hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px); }
  .main-page-content .btn:not(.editor-element):not(.btn-edit-page).btn-primary, .consent .btn:not(.editor-element):not(.btn-edit-page).btn-primary, #consentModal .btn:not(.editor-element):not(.btn-edit-page).btn-primary {
    background-color: #ff7805;
    color: white; }
    .main-page-content .btn:not(.editor-element):not(.btn-edit-page).btn-primary:hover, .consent .btn:not(.editor-element):not(.btn-edit-page).btn-primary:hover, #consentModal .btn:not(.editor-element):not(.btn-edit-page).btn-primary:hover {
      background-color: #ff7805; }
  .main-page-content .btn:not(.editor-element):not(.btn-edit-page).btn-secondary, .consent .btn:not(.editor-element):not(.btn-edit-page).btn-secondary, #consentModal .btn:not(.editor-element):not(.btn-edit-page).btn-secondary {
    background-color: #385133;
    color: white; }
    .main-page-content .btn:not(.editor-element):not(.btn-edit-page).btn-secondary:hover, .consent .btn:not(.editor-element):not(.btn-edit-page).btn-secondary:hover, #consentModal .btn:not(.editor-element):not(.btn-edit-page).btn-secondary:hover {
      background-color: #385133; }
.main-page-content form .form-group .form-control, .consent form .form-group .form-control, #consentModal form .form-group .form-control {
  border-radius: 10px;
  border-color: #eeeeee; }
  .main-page-content form .form-group .form-control:active, .main-page-content form .form-group .form-control:focus, .consent form .form-group .form-control:active, .consent form .form-group .form-control:focus, #consentModal form .form-group .form-control:active, #consentModal form .form-group .form-control:focus {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
.main-page-content form .form-group:hover .form-control, .consent form .form-group:hover .form-control, #consentModal form .form-group:hover .form-control {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
.main-page-content form .custom-control.custom-checkbox, .consent form .custom-control.custom-checkbox, #consentModal form .custom-control.custom-checkbox {
  padding-left: 2.5rem;
  min-height: 2rem; }
  .main-page-content form .custom-control.custom-checkbox label, .consent form .custom-control.custom-checkbox label, #consentModal form .custom-control.custom-checkbox label {
    line-height: 30px; }
  .main-page-content form .custom-control.custom-checkbox:active .custom-control-label::before, .main-page-content form .custom-control.custom-checkbox:focus .custom-control-label::before, .consent form .custom-control.custom-checkbox:active .custom-control-label::before, .consent form .custom-control.custom-checkbox:focus .custom-control-label::before, #consentModal form .custom-control.custom-checkbox:active .custom-control-label::before, #consentModal form .custom-control.custom-checkbox:focus .custom-control-label::before {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-color: #ff7805;
    background-color: #ff7805; }
  .main-page-content form .custom-control.custom-checkbox:hover .custom-control-label::before, .consent form .custom-control.custom-checkbox:hover .custom-control-label::before, #consentModal form .custom-control.custom-checkbox:hover .custom-control-label::before {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-color: #eeeeee; }
  .main-page-content form .custom-control.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before, .consent form .custom-control.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before, #consentModal form .custom-control.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
  .main-page-content form .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .consent form .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, #consentModal form .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-color: #ff7805;
    background-color: #ff7805; }
  .main-page-content form .custom-control.custom-checkbox .custom-control-label::before, .consent form .custom-control.custom-checkbox .custom-control-label::before, #consentModal form .custom-control.custom-checkbox .custom-control-label::before {
    top: 0;
    border-color: #eeeeee;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    left: -2.5rem; }
  .main-page-content form .custom-control.custom-checkbox .custom-control-label::after, .consent form .custom-control.custom-checkbox .custom-control-label::after, #consentModal form .custom-control.custom-checkbox .custom-control-label::after {
    top: 0;
    border: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    left: -2.5rem; }
.main-page-content .captchaContainer > div > div > div, .consent .captchaContainer > div > div > div, #consentModal .captchaContainer > div > div > div {
  overflow: hidden;
  border-radius: 10px !important;
  width: 298px;
  height: 72px;
  transition: 0.3s; }
  .main-page-content .captchaContainer > div > div > div:hover, .consent .captchaContainer > div > div > div:hover, #consentModal .captchaContainer > div > div > div:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
  .main-page-content .captchaContainer > div > div > div iframe, .consent .captchaContainer > div > div > div iframe, #consentModal .captchaContainer > div > div > div iframe {
    margin: -2px; }
.main-page-content .alert, .consent .alert, #consentModal .alert {
  border-radius: 10px;
  border: 0; }

.page-footer-container {
  background-color: #f6f6f6;
  min-height: 100px;
  color: #a1a1a1; }
  .page-footer-container h1, .page-footer-container h2, .page-footer-container h3, .page-footer-container h4, .page-footer-container h5, .page-footer-container h6 {
    color: #6e6e6e; }
    .page-footer-container h1 a, .page-footer-container h2 a, .page-footer-container h3 a, .page-footer-container h4 a, .page-footer-container h5 a, .page-footer-container h6 a {
      color: #6e6e6e !important; }
  .page-footer-container a {
    color: #a1a1a1;
    text-decoration: none !important; }
    .page-footer-container a:hover {
      color: #6e6e6e; }

.consent .edit-button button.btn {
  transform: translateY(0) !important;
  background-color: #385133; }
  .consent .edit-button button.btn svg {
    color: #ff7805; }
  .consent .edit-button button.btn::before {
    left: 0;
    bottom: 0;
    -webkit-box-shadow: 0px 0px 40px 5px #ff7805 !important;
    -moz-box-shadow: 0px 0px 40px 5px #ff7805 !important;
    box-shadow: 0px 0px 40px 5px #ff7805 !important; }

/*# sourceMappingURL=sleek.css.map */
